setuptools
pandas==2.2.2
numpy>=1.26.0,<2.0.0
# GitHub 주소를 직접 지정하여 Python 3.12의 버전 탐색 오류를 우회합니다.
pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git@development
requests==2.31.0
alpaca-trade-api==3.1.1
pybit==5.8.0
Flask==3.0.3
gunicorn==22.0.0
pytz==2024.1
